<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') -%>
<body>
    <header>
        <%- include('partials/nav') -%>
    </header>

    <main>
        <h1>Welcome to File Upload Service!</h1><br><br>
        <div>
            <p>Please <a href="/login">log in</a> to upload files.</p><br>
            <p>Or <a href="/signup">sign up</a> if you don't have an account.</p><br>
            <p>Once logged in, you can upload files to the server.</p>
        </div>
    </main>

    <%- include('partials/footer') -%>
</body>

</html>